@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4A1D96;
  --color-secondary: #FFD700;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'Inter', sans-serif;
}